@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}
