@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1.3s;
}

.animate-float-delayed-2 {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2.6s;
}
